@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&family=JetBrains+Mono:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24.6 95% 53.1%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 24.6 95% 53.1%;
    --radius: 0.75rem;
  }

  .dark {
    --radius: 0.55rem;
    --background: 330 0% 0.3%;
    --foreground: 0 0% 97.5%;
    --card: 0 0% 4.5%;
    --card-foreground: 0 0% 97.5%;
    --popover: 0 0% 8.6%;
    --popover-foreground: 0 0% 97.5%;
    --primary: 0 0% 92.2%;
    --primary-foreground: 0 0% 4.5%;
    --secondary: 0 0% 8.6%;
    --secondary-foreground: 0 0% 97.5%;
    --muted: 0 0% 8.6%;
    --muted-foreground: 0 0% 70.8%;
    --accent: 0 0% 21.2%;
    --accent-foreground: 0 0% 97.5%;
    --destructive: 359.9132 100.2494% 67.8807%;
    --destructive-foreground: 0 0% 0%;
    --border: 0 0% 100% / 15%;
    --input: 0 0% 100% / 15%;
    --ring: 0 0% 55.7%;
    --chart-1: 264.4 77.2% 41.9%;
    --chart-2: 162.5 46.7% 57.3%;
    --chart-3: 70.1 74.3% 70.5%;
    --chart-4: 303.9 75.8% 51.6%;
    --chart-5: 16.4 84.7% 55.4%;
    --sidebar: 0 0% 4.5%;
    --sidebar-foreground: 0 0% 97.5%;
    --sidebar-primary: 264.4 77.2% 41.9%;
    --sidebar-primary-foreground: 0 0% 97.5%;
    --sidebar-accent: 0 0% 8.6%;
    --sidebar-accent-foreground: 0 0% 97.5%;
    --sidebar-border: 0 0% 100% / 10%;
    --sidebar-ring: 0 0% 43.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .container {
    @apply mx-auto px-4 md:px-6 lg:px-8 max-w-7xl w-full;
  }
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.font-mono {
  font-family: 'JetBrains Mono', monospace;
}

@layer base {
  body {
    @apply bg-[#F8F9FA] text-slate-900 overflow-hidden;
  }
}

.cursor-grab {
  cursor: grab;
}

.cursor-grabbing {
  cursor: grabbing;
}

/* Remove default slider focus ring for cleaner look */
.slider-root:focus-within {
  outline: none;
}
